.rooms-list {
    float:left;
    padding: 1rem;
    min-height: 300px;
    min-width: 250px;
    margin-top: .25rem;
    margin-right: 2.5rem;
    background-color: gray;
}

.rooms-list-title{
    color: white;
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.25rem;
    text-shadow: 1px 1px 0px rgb(58,23,63);
}
.rooms-list-items{
    color: white;
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }

.hero-content {
    position: relative;
    min-height: 100px;
}

.hero-content .hero-title {
    color: white;
    font-size: 3.5rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    text-shadow: 1px 1px 0px rgb(58,23,63);
}

.home-content{
    color: black;
    font-size: 1rem;
    letter-spacing: 0.25rem;
}
