<section class="rooms-list">
  <div class="rooms-list-title">Your Rooms</div>
   <ul>
      <li ng-repeat="room in rooms">
        <!-- edit a room -->
        <input ng-model="room.text" ng-change="rooms.$save(room)" />
        <!-- delete a room -->
        <button ng-click="rooms.$remove(room)">Delete room</button>
      </li>
    </ul>
    <!-- push a new room onto the array -->
    <form ng-submit="addRoom()">
      <input ng-model="newRoomText" />
      <button type="submit">Add Room</button>
    </form>
</section>
<section class="hero-content">
  <div class="hero-title">{{ home.heroTitle }}</div>
</section>
<section class="home-content">
</section>
